Source: ksplash-theme-sidux-2006
Section: graphics
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Vcs-Svn: svn://svn.berlios.de/fullstory/ksplash-theme-sidux-2006/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/ksplash-theme-sidux-2006/trunk/

Package: ksplash-theme-sidux-2006
Architecture: all
Depends: ksplash
Description: penguin ksplash theme for sidux
 This package includes a sidux ksplash screen, which is seen when
 a KDE session is launched. It features the planets of our solar system.
